
  {{#each this}}
    <div>
      {{city.id}}
    </div>

      <p>{{base}}{{pressure}}{{humidity}}{{wind-speed}}</p>

    <button class="threeDay" type="button">Three day</button>
    <button class="sevenDay" type="button">Seven day</button>
  {{/each}}
